/*==== Estilos generales ====*/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -sm-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    font-family:  trebuchet, serif;
    padding: 0;
}

a{text-decoration: none;}
ul>li{list-style: none;}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.centrado {
    position: absolute;
    top: 50%;

    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -sm-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.flexNormalBet {
    display: flex;
    justify-content: space-between;
}

.flexAlgItemCen {
    display: flex;
    align-items: center
}

.displayNone{display: none;}
.pRelative{position: relative;}
.pAbsolute{position: absolute;}

.imgResponsive{
    width: 100%;
}

.ancho_1200 {
    max-width: 1200px;
    margin: auto;
    padding: 0 1.5em;
}

.anchoGallery {
    max-width: 1138px;
    margin: auto;
    padding: 0 1.5em;
}

.fondoGris{
    background-color: #332f2e;
}

.titulosImg{
    height: 20em;
}

.flexBasis50{ flex: 1 1 0px}
.ancho70{ width: 70%;}
.ancho60{ width: 60%;}
.ancho50{ width: 50%;}
.ancho40{ width: 40%;}
.ancho30{ width: 30%;}
.GalleryW25{ width: 25%;}

.top01{top: -20em;}
.top02{top: -2em;}
.top03{margin-top: -10em;}
/*==== Estilos generales ====*/

/*===== POP UP ======*/
.contBlack{
    position: fixed;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100vh;
/*    overflow: scroll;*/
    z-index: 10;
}

.contPopUp{
    max-width: 800px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #EC7400;
    z-index: 100;
}

.contenidoGaleria{
    position: absolute;
    max-width: 1200px;
    margin: 7em auto;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 110;
}

.cabeceraForm{
    padding:0 0 0 2.2em;
    display: flex;
    background-color: #EC7400;
}

.ContactForm{
    padding: 1em 3em 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estiloInput{
    width: 100%;
    border: 1px solid #EC7400;
    margin: 1em 0;
    padding: 0.5em 0 0.5em 1em;

    background-color: #272A2E;

    font-family: 'roboto-light';
    font-size: 1em;
    color: #EC7400;
}

.btnEnviar{
    width: 100%;
    border: 1px solid #EC7400;
    margin: 1em 0;
    padding: 0.5em 0 0.5em 1em;

    background-color: #272A2E;

    font-family: 'roboto-light';
    font-size: 1em;
    color: #EC7400;
    cursor: pointer;
}

.btnEnviar:hover{
    width: 100%;
    border: 1px solid #EC7400;
    margin: 1em 0;
    padding: 0.5em 0 0.5em 1em;

    background-color: #EC7400;
    color: #000;
}

.btnX{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-family: sans-serif;
    color: #fff;

    right: 3em;
    top: 3em;

    background: rgba(0,0,0,0.1);
    border-radius: 100%;

    width: 3em;
    height: 3em;
    z-index: 200;
}

.btnX:hover{
    background: rgba(0,0,0,0.5);
    border-radius: 100%;
    border: 1px solid #EC7400;
    transition: 1s;
}

.icoMail{
    width: 5em;
    height: 5em;

    animation-name: mail;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
}

@keyframes mail{

    0%      { transform: translate3d(0,0,0); opacity: 0;}

    5%      { transform: translate3d(0,0,0); opacity: 1;}

    10%      { transform: translate3d(0,0,0); opacity: 0;}

    25%      { transform: translate3d(0,0,0); opacity: 1;}

    100%    { transform: translate3d(150px,0,0); opacity: 0;}
    }

@media (max-width: 1000px){
    .contPopUp{
        flex-basis: 80%;
    }
}
/*===== POP UP ======*/

/*== Botón que lleva al TOP ==*/
.img-flecha-up {
    height: 20px;
    width: 20px;
    margin: auto;
}

.up{
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
    border-radius: 100%;

    position: fixed;
    z-index: 5;
    bottom: 2em;
    right: 2em;
    cursor: pointer;
}

.up:hover {
    background-color: #EC7400;
    transition: 1s;
}

/*==== Barra de navegación ====*/

.marcaWhite{
    width: 100%;
    height: 6em;
}

.contMarca {
    width: 12em;
    height: 6em;
}

.fondoNavBlack{
    background-color: #332f2e;    
}

/*==== Fin Barra de navegación ====*/

.contFotoPerfil{
    border-radius: 100%;
    max-width: 30em;
    margin: 1em;
}
/*===== Estilos Flex y barras diagonales =====*/
.flexWrapRev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.flexWrapNor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.OrangeSkew {
  background: #EC7400;
  position: relative;
}

.OrangeSkew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5em;
  width: 100%;
  height: 10em;
  background: #EC7400;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

.whiteSkew {
  background: #fff;
  position: relative;
}

.whiteSkew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5em;
  width: 100%;
  height: 10em;
  background: #fff;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

.graySkew {
  background: #332f2e;
  position: relative;
}

.graySkew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5em;
  width: 100%;
  height: 10em;
  background: #332f2e;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}
/*===== Estilos Flex y barras diagonales =====*/

/*============== Estilos de filetes, color de fondos y margenes ============*/
.filete{
    border-left: 2px #EC7400 solid;
    border-right: 2px #EC7400 solid;
    width: 1em;
    height: 5em;
    margin: 1em auto;
}

.fondoNaranja{
    background-color: #EC7400;
    padding: 3em 0;
}



.seccPro{
    margin: 7em 0 7em 0;
}
.marginEjeY{
    margin: 11em 0 7em 0;
}

.paddingEjeY{
    padding: 11em 0 7em 0;
}



.marginYears{
    margin: 1em 0;
}
/*============== Estilos de filetes, color de fondos y margenes ============*/

/*============== Clases de titulos y parrafos ============*/
.h1gray{
    color: #332f2e;
    font-size: 2.5em;
    font-family: 'roboto-light';
}

.h1White{
    color: #fff;
    font-size: 2.5em;
    font-family: 'roboto-light';
}

.h1Orange{
    color: #EC7400;
    font-size: 2.5em;
    font-family: 'roboto-light';
}

.h2gray{
    color: #332f2e;
    font-family: 'roboto-light';
    font-size: 2em;
}

.txtGray{
   color: #332f2e;
    font-size: 1.2em;
    font-family: 'roboto-light';
    text-align: justify;
}

.txtWhite{
    color: #fff;
    font-size: 1.2em;
    font-family: 'roboto-light';
    text-align: justify;
}

.txtOrange{
    color: #EC7400;
    font-size: 1.2em;
    font-family: 'roboto-light';
    text-align: justify;
}
/*============== Clases de titulos y parrafos ============*/

/*============== sección 04 ============*/
.bannerHabilidadesL {
    position: absolute;
    max-width: 1200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
    }

.fondoSec04{
    width: 100%;
    padding: 3em 1em 15em 1em;
}

.cont900px{
    margin: auto;
    max-width: 900px;
    padding: 3em 2em;
}

.contTitulo{
    margin: 17em 0 2em 0;
}

.contFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2em 0;
    border-bottom: 1px solid #332f2e;
}

.contWrapRe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 2em 0;
    border-bottom: 1px solid #332f2e;
}

.contParrafo{
    max-width: 400px;
}

/*============== Iconos de seccion Habilidades ============*/
.icoHabilidades{
    width: 3em;
    margin: 1em;
}

.contIco{
    flex-grow: 1;
    width: 15em;
    height: 15em;
    margin: 0 1em 0 0;
}

.icoMaquetacionWeb{
     background: url(../img/maquetacion-Web-01.svg) center no-repeat;
}

.icoOrange {
    color: #EC7400;
}

.icoProgramasPri {
    background: url(../img/progrmas-priv-01.svg) center no-repeat;
}

.icoProgramasLib {
    background: url(../img/progrmas-libr-01.svg) center no-repeat;
}

.icoBrand {
    background: url(../img/brand-01.svg) center no-repeat;
}

.icoMarketing {
    background: url(../img/marketing-01.svg) center no-repeat;
}

.icoNews {
    background: url(../img/news-01.svg) center no-repeat;
}

.icoCamara {
    background: url(../img/camara-01.svg) center no-repeat;
}

.icoIlustracion {
    background: url(../img/ilustracion-digital-01.svg) center no-repeat;
}

.icoMonitor {
    background: url(../img/monitor-01.svg) center no-repeat;
}
/*============== Iconos de seccion Habilidades ============*/

/*== Animaciones ==*/

.aparecer{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: aparecer;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: aparecer;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: both;
    -moz-animation-name: aparecer;
    -sm-animation-duration: 2s;
    -sm-animation-fill-mode: both;
    -sm-animation-name: aparecer;
    -o-animation-duration: 2s;
    -o-animation-fill-mode: both;
    -o-animation-name: aparecer;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.aparecerDer{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: aparecerDer;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: aparecerDer;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: both;
    -moz-animation-name: aparecerDer;
    -sm-animation-duration: 2s;
    -sm-animation-fill-mode: both;
    -sm-animation-name: aparecerDer;
    -o-animation-duration: 2s;
    -o-animation-fill-mode: both;
    -o-animation-name: aparecerDer;
}

@keyframes aparecerDer {
  from { opacity: 0; transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; transform: none; }
}

.aparecerIzq{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: aparecerIzq;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: aparecerIzq;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: both;
    -moz-animation-name: aparecerIzq;
    -sm-animation-duration: 2s;
    -sm-animation-fill-mode: both;
    -sm-animation-name: aparecerIzq;
    -o-animation-duration: 2s;
    -o-animation-fill-mode: both;
    -o-animation-name: aparecerIzq;
}

@keyframes aparecerIzq {
  from { opacity: 0; transform: translate3d(40%, 0, 0);}
  to { opacity: 1; transform: none;}
}

#cohete {
    height: 4em;
    position: relative;

    -webkit-animation-name: float;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: float;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -sm-animation-name: float;
    -sm-animation-duration: 1s;
    -sm-animation-iteration-count: infinite;
    -o-animation-name: float;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;

    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes float{
    0% {top:0px;}
    50% {top:10px;}
    100%{top: 0px;}
}

@-webkit-keyframes float{
    0% {top:0px;}
    50% {top:10px;}
    100%{top: 0px;}
}
/*== Animación cohete ==*/

/*== Footer ==*/
.blackSkew {
  background: #332F2E;
  position: relative;
}

.blackSkew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5em;
  width: 100%;
  height: 10em;
  background: #332F2E;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

.contFooter {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
    background-color: #332F2E;
    z-index: 1;
}

.sizeIcoFooter {
    max-width: 3em;
    height: 3em;
    margin: 0 1em;
}

.contFlexFooter01{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contFlexFooter02{
    display: flex;
    padding-bottom: 3em;
}

.txtBlanco {
    color: #fff;
    font-size: 1.2em;
    font-family: 'roboto-light';
    text-align: justify;
}

.margenBajo{
    margin-bottom: 2em;
}

.copyFooter {
    color: #EC7400;
    font-family: 'roboto-light';
    font-size: 1em;
}

.contOrnamento{position: relative;}

.contOrnamentoL{
    position: absolute;
    max-width: 100px;
    left: 0;
    z-index: 2;
}

.contOrnamentoR{
    position: absolute;
    max-width: 100px;
    right: 0;
    z-index: 2;
}
/*== Fin footer ==*/

/*========================================================
=================== Font-face ============================
==========================================================*/

@font-face {
  font-family: 'roboto-light';
  src:  url(../fonts/roboto/robotocondensed-light-webfont.eot);
  src:  url(../fonts/roboto/robotocondensed-light-webfont.eot) format('embedded-opentype'),
    url(../fonts/roboto/RobotoCondensed-Light.ttf) format('truetype'),
    url(../fonts/roboto/robotocondensed-light-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src:  url(../fonts/roboto/robotocondensed-regular-webfont.eot);
  src:  url(../fonts/roboto/robotocondensed-regular-webfont.eot) format('embedded-opentype'),
    url(../fonts/roboto/RobotoCondensed-Regular.ttf) format('truetype'),
    url(../fonts/roboto/robotocondensed-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src:  url(../fonts/roboto/robotocondensed-bold-webfont.eot);
  src:  url(../fonts/roboto/robotocondensed-bold-webfont.eot) format('embedded-opentype'),
    url(../fonts/roboto/RobotoCondensed-Bold.ttf) format('truetype'),
    url(../fonts/roboto/robotocondensed-bold-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon-odle';
  src:  url(../fonts/icon-odle.eot?sv6zql);
  src:  url(../fonts/icon-odle.eot?sv6zql#iefix) format('embedded-opentype'),
    url(../fonts/icon-odle.ttf?sv6zql) format('truetype'),
    url(../fonts/icon-odle.woff?sv6zql) format('woff'),
    url(../fonts/icon-odle.svg?sv6zql#icon-odle) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-odle' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-adobe-suites:before {
  content: "\e900";
}
.icon-ico-agenda-laboral:before {
  content: "\e901";
}
.icon-ico-birrete:before {
  content: "\e902";
}
.icon-ico-brand:before {
  content: "\e903";
  
}
.icon-ico-camara:before {
  content: "\e904";
}
.icon-ico-contacto-chat:before {
  content: "\e905";
}
.icon-ico-freeware:before {
  content: "\e906";
}
.icon-ico-habilidades:before {
  content: "\e907";
  color: #EC7400;
}
.icon-ico-ideas-bombillo:before {
  content: "\e908";
}
.icon-ico-lapiz:before {
  content: "\e909";
}
.icon-ico-monitor:before {
  content: "\e90a";
}
.icon-ico-new:before {
  content: "\e90b";
}
.icon-old:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e942";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}

/*========================================================
=================== @media-queries =======================
==========================================================*/
@media (max-width: 1200px){
    .contenidoGaleria{ max-width: 85%; }
    
    .GalleryW25{ width: 33%; }
}
@media (max-width:1024px){}
@media (max-width:900px){
    .GalleryW25{ width: 50%; }
}
@media (max-width:768px){
    body{font-size: 14px;}
    
    .flexBasis50{ flex: 1 1 100%}

    .contTitulo{margin: 10em 0 2em 0;}

    .ancho70{ width: 100%;}

    .ancho30{ width: 100%;}
}
@media (max-width: 767px){}
@media (max-width: 600px){
    .contFotoPerfil{
    margin: 1em 0;
    }
}
@media (max-width: 520px){
    .GalleryW25{ width: 100%; }
}
@media (max-width:425px){
    body{font-size: 11px;}
}
@media (max-width:375px){}
@media (max-width:320px){}
.navIndex {
    width: 100%;
    padding: 1em 0 0.5em 0;
}

.linksLi{
    margin-left: 1em;
}
.linksLi>a:hover{color: #EC7400; transition: 1s;}
